@font-face {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
}
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.pageTitle
{
    display: inline-block;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 50pt;
    font-weight: 100;
}



#pageTitleDont
{
    display: inline-block;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 50pt;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
    font-weight: bold;
}

#header
{
    margin-top: -25px;
    text-align: center;
}

#conditions
{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    font-weight: 100;
}

#conditionsDate
{
    font-size: 12pt;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: 800;
}

#swell, #tide, #waterTemp, #season
{
    margin-left: 70px;
    display: inline-block;
    line-height: 10px;
    font-size: 12pt;
}

#wind
{
    margin-left: 70px;
    display: inline-block;
    line-height: 10px;
    font-size: 11pt;
}

.diveSafteyInfo p
{
    margin-bottom: 10px;

}

#infoOne, #infoTwo, #infoThree, #infoFour, #infoFive
{
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom-style: solid;
    border-width: 1px;
}

body
{
    margin-left: 5%;
    margin-right: 5%;
    background-color:#000d4a;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#000d4a, endColorstr=#001696);
    background-image:-moz-linear-gradient(left, #000d4a 0%, #001696 100%);
    background-image:-webkit-linear-gradient(left, #000d4a 0%, #001696 100%);
    background-image:-ms-linear-gradient(left, #000d4a 0%, #001696 100%);
    background-image:linear-gradient(left, #000d4a 0%, #001696 100%);
    background-image:-o-linear-gradient(left, #000d4a 0%, #001696 100%);

}

.diveSafteyInfo
{
    color: white;
    font-size: 13pt;
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    float: left;


}


#map {
        height: 80%;
		width:60%;
		float:right;
		margin-right: 15%;
      }
